<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu nueva contrase침a generada por L-Pink es: L2P0I1N5K </h1>
    <p><b>NOTA: Para mayor seguridad cambia tu contrase침a al momento de iniciar sesi칩n</b></p>
    <p>Con L-Pink! todo est치 a tu alcance</p>
  </body>
</html>