<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estás agregado a un nuevo proyecto </h1>

    <p>
      Visita el siguiente link: <%= @url %>.
    </p>
    <p>con L-Pink! todo está a tu alcance</p>
  </body>
</html>