<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Haz sido agregado al proyecto <%= @proyecto%> por <%= @user_destinatario.nombre%> <%= @user_destinatario.apellido%></h1>

    <p>
      Visita el siguiente link para ir al proyecto: <%= @url %>.
    </p>
    <p>Con L-Pink! todo está a tu alcance</p>
  </body>
</html>