<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Te damos la bienvenida , <%= @user.nombre%> <%= @user.apellido %></h1>
    <p>
        Tu usuario para el sistema L-Pink es :

       <%= @user.email %>.<br>
    </p>
    <p>
      Visita el siguiente link: <%= @url %>.
    </p>
    <p>Gracias!</p>
  </body>
</html>