<h3>Agregar Usuarios</h3> 
<h5>Proyecto <%= @proyecto.nombre %></h5>
<p>Paso 2 de 2</p>

<%= render 'form' %>
<br/>

<table style="width:50%;margin:0 auto">
  <thead>
    <tr>
      <th>Nombre Colaborador</th>
    </tr>
  </thead>

  <tbody>
      <td colspan="2">
      <% @usuarios.each do |usuario| %>
        <% @user.each do |user| %>
          <%if (usuario.user_id == user.id)%>
             <%= user.nombre %> <%= user.apellido %><br/>
          <% end %>
        <% end %>
      <% end %>
      </td>
  </tbody>
</table>
