<br />
<br />
<br />
<br />


<h1>BIENVENIDO</h1>

<br />
<br />
<br />

<%=link_to 'Iniciar Sesión', new_user_session_path , :class=>"waves-effect waves-light btn", :style => "color:white" %>

<br />
<br />

<%=link_to 'Registrarse', new_user_registration_path , :class=>"waves-effect waves-light btn", :style => "color:white" %>