<div ALIGN="right" class="col s10"><%= image_tag "welcomeMessage.png", :class => "responsive-img", :title => "mensaje"%>
<h6 ALIGN="right" class="grey-text darken-2" style= " font-family: Pacifico; ">La nueva aplicación de apoyo a la gestión de actas dialógicas</h6>

</div>

<br>
<div class="col s12">
  <br><br><br>
  <ul class="tabs">
    <li class="tab col s4"><a href="#test1">Gestión de proyectos</a></li>
    <li class="tab col s4"><a class="active" href="#test2">Gestión de actas dialógicas</a></li>
    <li class="tab col s4"><a href="#test3">Trazabilidad de elementos dialógicos</a></li>

  </ul>
</div>
<div id="test1" class="row">
    <div class="col s4">
      <br><br>
        <div class="card small">
        <div class="card-image">
          <%= image_tag "proyectos.jpg", :class => "responsive-img", :title => "proy"%>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gestión de proyectos <i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Gestión de proyectos <i class="mdi-navigation-close right"></i></span>
          <p>Nunca más olvides un proyecto por darle importancia a otros.</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="col s7">
        <br><br><br>
        <div class="well">
          <h5 class="deep-purple-text darken-4"><i class="fa fa-suitcase blue-text"></i>   Ingresa tus proyectos al sistema</h5>
          <p> Mantén repositorio con todos ellos, para mantener información actuAlizada y a la mano de cada uno.</p>
        </div>
       

    </div>
</div>
<div id="test2" class="row">
      <div class="col s4">
      <br><br>
        <div class="card small">
          <div class="card-image">
            <%= image_tag "elementos.jpg", :class => "responsive-img", :title => "elem"%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Gestión de actas dialógicas <i class="mdi-navigation-more-vert right"></i></span>
            
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Gestión de actas dialógicas <i class="mdi-navigation-close right"></i></span>
            <p>¡Nunca más olvidarás los temas tratados en tu reunión!</p>
          </div>
        </div>
      </div>
    <br><br>
    <div class="col s7">
        <br><br><br>
        <div class="well">
          <h5 class="teal-text darken-4"><i class="fa fa-file green-text"></i>   Crea las actas de tu reunión</h5>
          <p> Mantén un repositorio con todos ellos, para mantener información actulizada y a la mano de cada uno.</p>
        </div>
    </div>

</div>
<div id="test3" class="row">
       <div class="col s4">
      <br><br>
        <div class="card small">
              <div class="card-image">
                <%= image_tag "traza.jpg", :class => "responsive-img", :title => "traza"%>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Trazabilidad de elementos dialógicos<i class="mdi-navigation-more-vert right"></i></span>
                
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Trazabilidad de elementos dialógicos <i class="mdi-navigation-close right"></i></span>
                <p> Ten el control absoluto de todos los COMPROMISOS, ACUERDOS, las DUDAS y los DESACUERDOS.</p>
              </div>
            </div>
    </div>
    <br><br>
    <div class="col s7">
        <br><br><br>
        <div class="well">
          <h5 class="brown-text darken-4"><i class="fa fa-cubes orange-text"></i>   Crea grafos dinámicos que relacionene tus elementos dialógicos</h5>
          <p> Nuestro sistema provee mecanismos de seguimiento para cada uno de tus Compromisos, Acerudos, Dudas y Desacuerdos.</p>
        </div>
       

    </div>

</div>