<div style="margin:0 auto;width:70%">
<h3>Editar Proyecto</h3>
<p>
	Para editar el proyecto, ingrese los nuevos datos en los campos correspondientes y luego seleccione "Guardar". Para descartar los cambios solo presione "Atrás".
</p>
</div>

<%= render 'form' %>

